@import "../styles/tokens.scss";

#coffee {
  background: linear-gradient(
    to top left,
    $fontcol-prototype-light 75%,
    transparent 25%
  );
  color: $brandcol-shared-natural;
  min-height: 100vh;
  display: flex;

  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }

  .back-button {
    padding: 0.7rem 0 0 0.7rem;
    position: absolute;
    width: 38px;
    height: 38px;
    background: $brandcol-shared-natural;
    border-radius: 0 0 38px 0;
    -moz-border-radius: 0 0 38px 0;
    -webkit-border-radius: 0 0 38px 0;
  }

  .content__summary {
    text-align: left;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: $breakpoint-tablet;
    padding: 0rem 1rem;

    &:hover {
      color: $brandcol-coffee-blue;
      transition: all 0.5s ease;
    }

    &-intro {
      font-size: 1.2rem;
    }

    a:hover {
      transition: all 0.2s ease;
      border-bottom: 2px solid $brandcol-coffee-blue;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .back-button {
    padding: 1rem 0 0 1rem;
    position: absolute;
    width: 44px;
    height: 44px;
    background: $brandcol-shared-natural;
    border-radius: 0 0 44px 0;
    -moz-border-radius: 0 0 44px 0;
    -webkit-border-radius: 0 0 44px 0;

    &:hover {
      transform: scale(1.2);
      transition: all 0.2s ease;
    }
  }

  .content__summary {
    padding: 0rem 5rem;
  }
}
