@import "../../styles/tokens.scss";

footer {
  bottom: 0;
  background-color: $brandcol-shared-maize;
  color: $fontcol-prototype-default;
  font-size: 0.7rem;
  padding: 0.7rem 0rem;
  text-align: center;
}

@media (min-width: $breakpoint-tablet) {
  footer {
    font-size: 0.8rem;
    padding: 0.8rem 0rem;
  }
}
