.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/bg_cloud_purple.jpg");
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
}
